*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
.hero__section{
    background:url(./images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    min-height:65vh;
    zoom: normal;
}
 .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:65px;
    padding:16px 48px;  
} 
.navbar a{
    color: white;
    text-decoration: none;
}
 .navbar__menu_container{
    display: flex;
    gap:18px;
    margin-left:0%;
}
.navbar__menu_container.user_icon{
    height:25px;
    width:25px;
    display:flex;
    align-items:center;  
    justify-content:center;
    border-radius: 100%;
    border: solid 1px white;
    display:none; 
} 
.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
    height: auto;
}
.hero__section_title{
    color: white;
    margin-top: 20px;
    font-size: 35px;
    flex-direction: column;
    font-weight: 400;
    text-align: center; 
    height: auto;
}
.hero__section_logo{
   height: 60px;
   margin-top: 27px;
}
.hero__section_input_container{
    background-color: white;
    padding: 10px;
    /* padding-right: 50px;  */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    width: 64%;
    /* padding-left: 50px; */
}
.input_container_location,.input_container_search{
padding: 5px;
border: none;
outline: none;
}
.input_container_location{
    width: 25%;
    border-right: 2px solid #e0e0e0;
    /* padding-left: 10px; */
    size: 60px;
}
.input_container_search{
    width: 65%;
}
/*hero-section -media queries*/
@media only screen and (max-width:760px){
    .navbar__menu_container.user_icon{
        display: flex;
    }
    .link{
        display: none;
    }
    .hero__section_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }
    .input_container_location,.input_container_search{
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        size: 45px;
        height: auto;
    }
    .input_container_location{
        width: 35%;
    }
    .input_container_search{
        width: 65%;
    }
    .hero__section_title{
        margin-top: 0%;
        font-size: 35px;
        font-weight: 400;
    }
    .hero__section_logo{
        margin-top: 0%;
    }
}
@media only screen and (max-width:430px){
    .hero__section_title{
        font-size: 22px;
        font-weight: 400;
    } 
 }
@media only screen and (max-width:820px){
    .hero__section_input_container{
        width: 93%;
    }
}
.container{
    margin: 3rem auto;
    width: 90%;
}
.we__offer{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}
.we__offer_card{
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    margin-right: 12px;
}
/* to avoid showing border during hover,write this seperately */
.we__offer_card:hover{
    transform: scale(1.1) ;
}
.we__offer_card img{
width: 100%;
height: 170px;
border-radius: 10px;
object-fit: cover;
object-position: center;
}
.we__offer_content h7{
    font-weight: 500px;
    font-size: 15px;
    color: black;
    padding-left: 7px;
}
.we__offer_content p{
font-size: 13px;
font-weight: 400;
color: #493f3f;
padding-left: 3px;
}
.collections h1{
font-weight: 600;
}
.collections .sub__heading_container{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    font-weight: 300;
}
.sub__heading_container span:nth-child(2){
color: #ff7e8b;
font-weight: 320;
font-size: 15.9px;
cursor: pointer;
}
.collections_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.collections_card_container .card{
height: 300px;
min-width: 240px;
background-size: cover;
background-position: center;
border-radius: 10px;
position: relative;
}
.card1{
    background-image: url(./images/collection1.jpg);
}
.card2{
    background-image: url(./images/collection2.jpg);
}
.card3{
    background-image: url(./images/collection3.jpg);
}
.card4{
    background-image: url(./images/collection4.jpg);
}
.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.9) 0%,
        rgba(0,0,0,0.05) 50%
        rgba(0,0,0,0.05) 85%
    );
}
.collections_card_container .content{
    position: absolute;
    bottom: 0%;
    left: 0%;
    color: white;
}
.collections_card_container .content{
    /* font-weight: 400; */
    font-size: 0.9rem;
    padding: 12px 16px;
}
.content h4{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5;
}
.get__the_app{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,251,247); 
    /* to get pale pink color |^|^^^ */
    width: 100%;
    padding: 3rem 6rem;
}
.get__the_app .semiContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    /* to get in new line */
    gap: 1.5rem;
}
.get__the_app .semiContainer .left{
    flex: 2;
}
.get__the_app .semiContainer .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.get__the_app .semiContainer .right{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* to get at side by side */
    gap: 1rem;
}
.right h1{
    font-weight: 400;
    font-size: 2rem;

}
.right p{
    font-weight: 300;
    font-size: 16px;
    /* font-size: 1rem; */
    gap: 5px;
    padding-top: 13px;
}
.right .radio__button_container{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 1rem;
}
.right .radio__button_container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.right .radio__button_container div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239,79,95);
}
.right .input_container{
display: flex;
flex-wrap: wrap;
gap: 0.5rem;
}
.input_container button,
.input_container input
{
padding: 10px 12px;
}
.input_container input{
    flex: auto;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
}
.input_container button{
    border: none;
    background-color: rgb(239,79,95);
    border-radius: 5px;
    /* flex: auto; */
    color: white;
    cursor: pointer;
}
.right .download__app_container{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.right .download__app_container h5{
color: grey;
font-weight: 370;
} 
.right .download__app_container div{
display: flex;
gap: 1rem;
}
.right .download__app_container div img{
    width: 37%;
}
@media only screen and (max-width: 1100px){
    .get__the_app .semiContainer .left,
    .get__the_app .semiContainer .right{
       flex: 1;  
        
    }
    .get__the_app .semiContainer{
        width: 80%;
    }
}
@media only screen and (max-width: 700px){
    .get__the_app{
        padding: 2rem 0;
    }
    .get__the_app .semiContainer{
        width: 95%;
        flex-direction: column;
    }   
}
.footer{
    width: 100%;
}
.footer_section1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin:auto;
}
.footer_section1 img{
    width: 130px;
    /* margin-left: 0%; */
}
.section1__buttonContainer{
    display: flex;
    gap: 1rem;
}
.section1__buttonContainer button{
    padding: 10px;
    width: 130px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-left: 0%;
    cursor: pointer;
}
.navigation_container{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    margin: auto;
    gap: 1rem;
    padding: 40px 0;
}
.link__container{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.link__container a{
    text-decoration: none;
    color: grey;
    font-weight: 300;
    font-size: 15px;
}
.link__container a:hover{
   color:  black;
}
.link__container h5{
    font-size: 15px;
    font-weight: 440;
    letter-spacing: 2px;
    padding-bottom: 10px;
}
.section__links_container{
    display: flex;
    gap: 7px;
}
.section__links_container button{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 25px;
    height: 25px;
    /* first make it as square the convert into a circle by changing the border radius */
    border-radius: 30px;
    color: white;
    cursor: pointer;
}
.footer__section_logos{
    display: flex;
    width: 100%;
    /* flex-wrap: wrap;
    size: 3px; */
}
.disclaimer{
    width: 95%;
    padding-left: 130px;
    color: grey;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 50px;
    border-top: 1px solid grey;
    border-color:gainsboro;
    padding-top: 1.5rem;
    border-radius: 10px;
}
@media only screen and (max-width: 900px){
    .navigation_container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media only screen and (max-width: 500px){
    .navigation_container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width: 330px){
    .navigation_container{
        grid-template-columns: repeat(1,1fr);
    }
}